
/*---Page ---*/
#container_item .container .main {
    float: left;
    width: 780px;
    position: relative;
    padding-bottom: 50px;
}


/*---nav bar ---*/
.bg-light {
    /*background-color: rgba(29, 23, 23, 0.9)!important;*/
    background-color: #284169!important;
}


#logo{
    float: left;
}

.navbar-dark .navbar-brand {
    color: #FF7F00;
    margin-left: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dae0e575;
}

.login{
	color: #FF7F00;
	font-size: x-small;
	margin-left:26px;
}

.contributor{
    color: #FF7F00;
    font-size: x-small;
}

.logout{
    color: #FF7F00;
    font-size: x-small;
}

.choose-lang{
	color: #FF7F00;
	font-size: x-small;
}

.line{
	color:#fff;
}

/**--- Login ---*/
#container {
	width: 360px;
	margin: 100px auto;
	padding-left: 5px;
}

#container table td {
	padding:5px;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

.btn-primary {
	margin-top: 20px;
    margin-left: 100px;
    color: #212529;
    background-color: #fff;
    border-color: #FF7F00;
    display: inline;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FF7F00;
    border-color: #FF7F00;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #FF7F00;
}

.google-signin button{
    margin-left: 50px;
    border: 0px;
}

/**--- Font ---*/
body{
	font-family: 'Roboto', sans-serif;
}

/**--- Contributor ---*/
.modal-header {
    border-bottom: 0px; 
    height: 1px;
}

.modal-footer{
    border-top: 0px; 
}

.modal-body {
    margin: 5px auto;
    padding: 0rem; 
}
.modal-body ul{
    font-size: 16px;
}

.modal-content {
	width:100%;
	border: 1px solid #FF7F00;
}

/**--- Dashboard ---*/

#container_dashboard {
    padding: 40px;
}


#container_dashboard label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.chart {
    position: relative;
    padding: 1rem;
    margin: 1rem -1px 0;
    /* border: solid #f7f7f9; */
    border-width: .2rem 0 0;
    height: 1000px;
    background: #f8f9fa;
    width: 1000px;
    overflow: auto;
    height:400px;
}

.no-content h4{
    color:#ff7f00;
}

@media (min-width: 576px)
.chart {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 10px;
}

#container_dashboard table{
    width: 800px;
}

/**--- Admin ---*/
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-left: -150px;
}

.nav-tabs .nav-link.active {
    border-top-color: #FF7F00;
}

#admin-container {
    /* width: 100%; */
    margin: 50px;
    padding-left: 300px;
    padding-right: 10px;
}

#myTabContent .container {
    width: 100%;
    margin-right: auto;
    margin-left: -50px;
    margin-top: 20px;
}

#myTabContent .container .content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border: solid 1px;
    border-color: #ddd;
    border-radius: 4px;
    padding: 5px 0px 5px 8px;
    margin-bottom: 20px;
}

#myTabContent .container .project-edit{
    padding-left: 10px;
    padding-right: 1px;
}


#myTabContent .container .fa, .fas {
    font-weight: 900;
    color: #FF7F00;
}

#myTabContent .container .content-add {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border: solid 1px;
    border-color: #ddd;
    border-radius: 4px;
    padding: 5px 0px 5px 8px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content .modal-body .required{
    padding-left: 5px;
    padding-right: 5px;
    color: #b00;
}
.modal-content .modal-body label{
    color:#9a9696;
}

.modal-content .modal-body .btn-primary {
    margin-top: 10px;
    margin-left: 100px;
    color: #9a9696;
    background-color: #fff;
    border-color: #FF7F00;
    display: inline;
}



#project-add .modal-content{
    height: 150px;
    width: 100%;
}

#project-edit .modal-content{
    height: 150px;
    width: 100%;
}

#user .row{
    border: 1px solid;
    border-color: #7d7a7a4a;
    border-radius: 4px;
}

#user .user{
    padding:3px;
}

#user .col{
    padding: 10px;
}

#user .col-6{
    padding: 10px;
}

#admin-container .page-navigation{
    margin-top: 30px;
}

#user-edit .user-edit{
    padding:10px;
}

#user-edit .modal-content .modal-body .btn-primary {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: #9a9696;
    background-color: #fff;
    border-color: #FF7F00;
    display: inline;
}

#myTabContent .container .user-add {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border: solid 1px;
    border-color: #ddd;
    border-radius: 4px;
    padding: 5px 0px 5px 8px;
    text-align: center;
    margin: 20px;
}

#admin-container .page-navigation-user{
    margin: 20px;
}

#user .bottom{
    border: 0px solid;
}


.modal-content .modal-body .user-add-modal label{
    color:#9a9696;
    padding:10px 0px 10px 0px;
    float:left;
}

.modal-content .modal-body .user-add-modal input {
     border: solid 1px; 
     margin: 10px; 
     border-radius: 4px; 
     border-color: #88828285; 
}

/**--- Test Case ---*/

.container .query-section{
    margin: 20px;
}
.container .query-content{
    background-color: #c1bdbd1c;
    width: 100%;
    border: 1px solid;
    border-color: #c1bdbd1c;
    border-radius: 4px;
    padding: 10px;
}

.container h5{
    margin: 10px;
}

.container .query-content select{
        margin: 10px;
}

.container .query-content .custom-select{
        margin: 10px;
        width:10%;
}

.container .query-content p{
    font-size: 14px;
    color: #928f8cbd;
}

.container .query-content .submit{
    border-radius: 4px;
}

.container .case-section{
    margin: 0px 20px;
    background-color: #c1bdbd1c;
    width: 96.7%;
    border: 1px solid;
    border-color: #c1bdbd1c;
    border-radius: 4px;
    padding: 10px;
}

.container .case-section a{
    color: #1d2124;
}

.container .case-section span{
    float:right;
    margin: 0px 10px;
}

.container .case-list-section span{
    margin: 0px 10px;
    height: auto;
}

.container .case-list-section a{
    color: #1d2124;
}

.container .case-list-section .list-group-item label{
    margin: 0px 10px;;
}

.container .case-list-section .container{
    overflow: auto;
}

.container .query-content .main{
    margin: 10px;
    border-color: #ff7f0024;
    background: #ff7f0024;
}

/**--- Test Case Detail ---*/

.container .title{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .title-content {
    background-color: #c1bdbd1c;
    width: 100%;
    border: 1px solid;
    border-color: #c1bdbd1c;
    border-radius: 4px;
    padding: 10px;
}

.container .title-content input{
    padding: 5px;
    margin: 0px 5px 0px 5px;
}
.container .title-content .component2{
    border:solid 1px;
    border-color: #e4dede;
    border-radius: 6px;
    padding: 10px;
}

.container .case-detail-section {
    margin: 0px;
    background-color: #c1bdbd1c;
    width: 100%;
    border: 1px solid;
    border-color: #c1bdbd1c;
    border-radius: 4px;
    padding: 10px;
}

.case-edit-section .comment{
    width:10px;
}
.container .case-detail-list-section textarea{
    border:solid 1px;
    border-color:white;
}

.container .case-detail-list-section .col-4{
    padding:10px;
}

.container .case-detail-list-section .col{
    padding:10px;
}

.container .case-edit-section{
    margin: 20px 0px 60px 10px;
    background-color: #c1bdbd1c;
    width: 100%;
}

.container .case-edit-section a{
    color:black;

}

.container .case-edit-section .title-bar span{
    float:right;
    margin:10px;
}


.container .footer-section{
    margin: 20px 0px 50px 20px;
    width: 100%;
    padding: 15px;
}

.container .footer-section button{
    float:right;
    margin: 0px 10px;
}

#delete .modal-body {
    text-align: center;
}

.modal-case-detail form{
    width:500px;
}

.modal-case-detail .checkbox-inline{
    padding:5px;
    margin:5px;
}
/*.modal-case-detail .modal-body div{
    text-align: center;
}*/

.modal-case-detail .modal-body .btn-primary {
    margin-top:2px;
    margin-bottom: 10px;
    color: #9a9696;
    background-color: #fff;
    border-color: #FF7F00;
    display: inline;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-color: #6c757d36;
}

/**--- Test Plan Main ---*/
#container_plan .container {
    padding-top: 75px;
    margin: 0 auto 15px;
}

#container_plan .container.container_fluid {
    width: auto;
}


#container_plan {
    /* width: 500px; */
    padding: 40px;
}

span .search {
    font-family: "Font Awesome 5 Free";
    color: #ff7f00;

}
span .edit .fa, .far{
    font-family: "Font Awesome 5 Free";
    color: gray;
}

.modal-body-plan{
    margin: 15px;
    padding: 0rem;
}

.filter-tile{
    color: #988e8e;
}

#searh-plan{
    float:right;
}


/**--- Test Plan Add ---*/
