
/*---nav bar ---*/
.bg-light {
    background-color: rgba(29, 23, 23, 0.9)!important;
}


#logo{
    float: left;
}

.navbar-dark .navbar-brand {
    color: #FF7F00;
    margin-left: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dae0e575;
}

.login{
	color: #FF7F00;
	font-size: x-small;
	margin-left:26px;
}

.choose-lang{
	color: #FF7F00;
	font-size: x-small;
}

.line{
	color:#fff;
}

/**--- Login ---*/
#container {
	width: 360px;
	margin: 100px auto;
	padding-left: 5px;
}

#container table td {
	padding:5px;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

.btn-primary {
	margin-top: 20px;
    margin-left: 100px;
    color: #212529;
    background-color: #fff;
    border-color: #FF7F00;
    display: inline;
}

/**--- Font ---*/
body{
	font-family: 'Roboto', sans-serif;
}

/**--- LogIn ---*/
.modal-header {
    border-bottom: 0px; 
}

.modal-footer{
    border-top: 0px; 
}

.modal-body {
    margin: auto;
}

.modal-content {
	width:70%;
	border: 1px solid #FF7F00;
}




